  body{font-family: 'Montserrat', sans-serif;font-size:15pt;line-height:28pt;color:#313135!important;background-color:#FEFEFE;}
  section{width:85%;margin:auto;background-color:#FEFEFE;}
  nav a{padding:10px; margin:10px;text-decoration:none;color:black}
  nav a:visted{text-decoration:none;color:black}
  a{text-decoration:none;color:black}
  a:visted{text-decoration:none;color:black}
  nav h2,h5 {line-height:5pt;}
  nav {font-size: 14px; line-height: 28px;}
  hr{height:2px;background-color:blue;clear:both;}
  section article {padding-left:20px;padding-bottom:10px; }

  section article h5,h6 {color:DarkGrey;font-weight:lighter;font-family: 'Source Sans Pro', sans-serif;}
  section article h5 {margin-top:6px;margin-bottom:6px}
  section article h6 {margin-top:0px;margin-bottom:5px}

  section article header {color:black;font-weight:bold;font-size:16pt;margin-bottom:1px;font-family: 'ZCOOL XiaoWei', serif;}
  section article header a {color:black;font-weight:bold;font-size:16pt;margin-bottom:1px;font-family: 'ZCOOL XiaoWei', serif; text-decoration: none}
  section article {font-weight:lighter;}
  secton article p {margin:1px}
  #leftNav{float:left;padding-right: 10px;}
  #leftNav ul {list-style-type:none;}
  #leftNav li a {display: block;}
  nav #logo {clear:both;}
  nav #nav {clear:right;vertical-align: text-bottom;}
  nav #nav ul {list-style-type:none;}
  nav #nav li {float:left;padding-right: 10px;}
  nav {position: fixed; width:100%; background-color: #FEFEFE; top:0;}
  .spacer { height:100px;}
  .story {width:45%;margin:auto;}

  @media screen and (max-width: 675px) {
    nav {position: inherit;}
    .spacer { height:0px;}
    .story {width:90%;margin:auto;}
  }
  @media screen and (max-width: 850px) {
    #leftNav {width:100%;}
    #leftNav li {float:left;padding-right: 10px;}
    .story {width:90%;margin:auto;}

  }
